body{
    margin:0;
    background:#0b0f16;
    font-family:Arial,sans-serif;
    color:white;
}

.topbar{
    height:75px;
    background:#0f1f3d;
    display:flex;
    align-items:center;
    padding:15px;
}

.avatar{
    width:50px;
    height:50px;
    border-radius:50%;
    background:#2d6cff;
    margin-right:12px;
}

.title{
    font-size:28px;
    font-weight:bold;
}

.status{
    color:#bfc9d8;
    font-size:15px;
}

.chat-container{
    height:calc(100vh - 155px);
    overflow:auto;
    padding:20px;
}

.message{
    max-width:70%;
    padding:12px;
    border-radius:18px;
    margin-bottom:15px;
    line-height:1.4;
}

.alma{
    background:#243f73;
}

.user{
    background:#1d7a41;
    margin-left:auto;
}

.typing{
    color:#8ca7d8;
    font-size:28px;
}

.input-bar{
    position:fixed;
    bottom:0;
    left:0;
    right:0;

    display:flex;

    background:#111827;

    padding:12px;
}

.input-bar input{

    flex:1;

    border:none;

    border-radius:25px;

    padding:12px;

    font-size:16px;
}

.input-bar button{

    margin-left:10px;

    border:none;

    border-radius:25px;

    width:55px;

    background:#2d6cff;

    color:white;

    font-size:18px;
}
